:root {
   /*
   note to self: refer to
   https://www.w3.org/TR/2015/CR-css-variables-1-20151203/
   add the colour and real value before submitting the final file in order to support older browsers (just in case)

   alternatively, create a .scss (SASS) file to solve these variable shenanigans
   */
   --background-colour: #fbfbfb;
   --font-colour: #444;

   --primary-colour: rgb(255, 145, 154);
   --primary-colour-hover: rgb(236, 64, 122);
   --primary-colour-light: rgb(249, 220, 226);

   /* --secondary-colour: rgb(247, 194, 151);
   --secondary-colour-hover: rgb(244, 81, 30);
   --secondary-colour-light: rgb(255, 233, 217); */

   --placeholder-grey:#ddd;
}
*, *::before, *::after {
   box-sizing: border-box;
}
body {
   font-family: 'Assistant', 'Roboto', sans-serif;
   background-color: var(--background-colour);
   color: var(--font-colour);
}
/*
---------------------------------------------------
NAV
---------------------------------------------------
*/
@media(min-width:560px) {

}
nav {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   flex: 1 1 auto;
}
nav a {
   position: relative;
   padding: 1.5rem;
   text-decoration: none;
   color: var(--font-colour);
   letter-spacing: 0.03rem;

   -webkit-transition: all linear 0.3s;
   -moz-transition: all linear 0.3s;
   -ms-transition: all linear 0.3s;
   -o-transition: all linear 0.3s;
   transition: all linear 0.3s;
}
nav a:hover {
   color: var(--primary-colour);
}
.nav-left {
   justify-content: flex-start;
}
.nav-right {
   justify-content: flex-end;
}

/*
---------------------------------------------------
START OF CREDIT: taken from
https://stackoverflow.com/questions/40242378/underline-from-left-to-right-on-hover-in-and-out
*/
.hvr-sweep-to-right {
  position: relative;
  overflow: hidden;
}
.hvr-sweep-to-right:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;

  bottom: -0.1rem;
  background-color: var(--primary-colour);
  height: 0.2rem;

  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}
.hvr-sweep-to-right:hover:after,
.hvr-sweep-to-right:focus:after,
.hvr-sweep-to-right:active:after {
  left: 0;
  right: auto;
  width: 100%;
  color: var(--primary-colour);
}
/*
END OF CREDIT
---------------------------------------------------
*/
/*
---------------------------------------------------
START OF CREDIT: adapted from https://codepen.io/andrewwierzba/pen/JorzzV
*/
.hvr-snake-border {
  margin: 2rem 0;
  line-height: 4rem;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.hvr-snake-border a {
   color: var(--primary-colour);
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
svg rect {
  fill: none;
  /* stroke: #4274D3; */
  stroke: var(--primary-colour);
  stroke-width: 0.1rem;
}
.hvr-snake-border:hover svg rect {
  /* stroke: #4274D3; */
  stroke: var(--primary-colour);
}
svg rect {
   /* total number of pixels that create the "length" of the line */
   stroke-dasharray: 400, 0;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
}
.hvr-snake-border:hover svg rect,
.hvr-snake-border:focus svg rect,
.hvr-snake-border:active svg rect{
  stroke-width: 0.3rem;
  /* length of underline */
  stroke-dasharray: 35, 245;
  /* position of underline */
  stroke-dashoffset: 70;
}
/*
END OF CREDIT
---------------------------------------------------
*/
/*
---------------------------------------------------
NAV END
---------------------------------------------------
*/



/*
---------------------------------------------------
GENERAL STYLING
---------------------------------------------------
*/
h1, h2, h3 {
   font-family: 'Playfair Display', serif;
   font-weight: normal;
}
h1 {
   display: flex;
   justify-content: flex-end;
   text-align: right;
   margin: 3rem 0;

   font-weight: bolder;
   letter-spacing: 0.2rem;
   font-size: 4rem;
}
@media(min-width:511px) {
   h1 {
      font-size: 5rem
   }
}
@media(min-width:792px) {
   h1 {
      font-size: 8rem
   }
}
@media(min-width:1083px) {
   h1 {
      font-size: 10rem;
   }
}
h2 {
   font-size: 3rem;
}
h3 {
   font-size: 1.5rem;
   text-transform: uppercase;
}
h4 {
   margin: 0;
   padding: 0;
   font-size: 1rem;
}
p {
   font-size: 0.9rem;
}
em {
   font-style: normal;
   color: var(--primary-colour);
}
/*
---------------------------------------------------
GENERAL STYLING END
---------------------------------------------------
*/



/* Start of Jordan Yep credits
taken from a classmate: Jordan Yep via jordanyep.com */
.landing-img {
   background-image: url(../img/background_landing.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   width: 60%;
   height: 70vh;

   position: absolute;
   margin-left: 10%;
   /* opacity: 0.3; */
}
/* end of Jordan Yep credits */





/*
---------------------------------------------------
TOOL CIRCLES
---------------------------------------------------
*/
.icon-box {
   display: inline-block;
   width: 4rem;
   height: 4rem;
   line-height: 4rem; /*line height must be same as height*/

   font-size: 1rem;
   text-align: center;
   vertical-align: center;
   color: var(--primary-colour);
   background-color: rgba(0,0,0,0);
   border: solid 0.1rem var(--primary-colour);
}
/*
---------------------------------------------------
TOOL CIRCLES END
---------------------------------------------------
*/



/*
---------------------------------------------------
STYLE GUIDE SPECIFIC
---------------------------------------------------
*/
section code {
   display: block;
   padding: 2rem;
   padding-right: 0;
   color: var(--font-colour);
   background-color: var(--placeholder-grey);
   border-radius: 0.2rem;
}
.h2-styleguide, .h3-styleguide {
   background-color: var(--primary-colour-light);
   text-align: center;
   border-radius: 0.2rem;
}
/*
---------------------------------------------------
STYLE GUIDE SPECIFIC END
---------------------------------------------------
*/
