:root {
   /*
   note to self: refer to
   https://www.w3.org/TR/2015/CR-css-variables-1-20151203/
   add the colour and real value before submitting the final file in order to support older browsers (just in case)

   alternatively, create a .scss (SASS) file to solve these variable shenanigans
   */
   --background-colour: #fbfbfb;
   --font-colour: #444;

   --primary-colour: rgb(255, 145, 154);
   --primary-colour-hover: rgb(236, 64, 122);
   --primary-colour-light: rgb(249, 220, 226);

   /* --secondary-colour: rgb(247, 194, 151);
   --secondary-colour-hover: rgb(244, 81, 30);
   --secondary-colour-light: rgb(255, 233, 217); */

   --placeholder-grey:#ddd;
}
*, *::before, *::after {
   box-sizing: border-box;
   background-color: var(--background-colour);
}
body {
   font-family: 'Assistant', 'Roboto', sans-serif;
   color: var(--font-colour);
}
/*
---------------------------------------------------
NAV
---------------------------------------------------
*/
nav {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex: 1 1 auto;
}
nav a {
   padding: 1.5rem;
   text-decoration: none;
   color: var(--font-colour);
   letter-spacing: 0.03rem;
   border-bottom: solid 0.08rem var(--primary-colour-light);

   -webkit-transition: all linear 0.2s;
   -moz-transition: all linear 0.2s;
   transition: all linear 0.2s;
}
nav a:active,
nav a:hover,
nav a:focus {
   color: #fff;
   background-color: var(--primary-colour);
}
.nav-left {
   justify-content: flex-start;
}
.nav-right {
   justify-content: flex-end;
}

/*
.hvr-sweep-to-bottom taken from:
https://stackoverflow.com/questions/20751937/transition-background-color-via-slide-up-animation
*/
.hvr-sweep-to-bottom {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, var(--background-colour) 50%, var(--primary-colour) 50%);

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.hvr-sweep-to-bottom:active,
.hvr-sweep-to-bottom:hover,
.hvr-sweep-to-bottom:focus {
    background-position: 0 -100%;
}
/*
---------------------------------------------------
NAV END
---------------------------------------------------
*/



/*
---------------------------------------------------
GENERAL STYLING
---------------------------------------------------
*/
h1, h2, h3 {
   font-family: 'Playfair Display', serif;
   font-weight: normal;
}
h1 {
   display: flex;
   justify-content: flex-end;
   text-align: right;
   margin: 3rem 0;

   font-weight: bolder;
   letter-spacing: 0.2rem;
   font-size: 4rem;
}
@media(min-width:511px) {
   h1 {
      font-size: 5rem
   }
}
@media(min-width:792px) {
   h1 {
      font-size: 8rem
   }
}
@media(min-width:1083px) {
   h1 {
      font-size: 10rem;
   }
}
h2 {
   font-size: 3rem;
}
h3 {
   font-size: 1.5rem;
   text-transform: uppercase;
}
h4 {
   margin: 0;
   padding: 0;
   font-size: 1rem;
}
p {
   font-size: 0.9rem;
}
em {
   font-style: normal;
   color: var(--primary-colour);
}
/*
---------------------------------------------------
GENERAL STYLING END
---------------------------------------------------
*/



/* Start of Jordan Yep credits
taken from a classmate: Jordan Yep via jordanyep.com */
.landing-img {
   background-image: url(../img/background_landing.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   width: 60%;
   height: 70vh;

   position: absolute;
   margin-left: 10%;
   /* opacity: 0.3; */
}
/* end of Jordan Yep credits */




/*
---------------------------------------------------
ABOUT ME
---------------------------------------------------
*/

/* .about-me {
   display: block;
}
.about-me-img {
   background-image: url("../img/name.png");
   background-position: center;
   background-size: 70%;
   background-repeat: no-repeat;
   width: 100%;
   height: 9rem;
   margin: 3rem 0;
   opacity: 0.8;

   order: 1;
}
.about-me p {
   position: relative;

   order: 2;
}
@media(min-width:26em) {
   .about-me-img {
      height: 13rem;
   }
}
@media(min-width:41.87em) {
   .about-me-img {
      height: 35vh;
   }
}
@media(min-width:48.75em) {
   .about-me {
      display: flex;
   }
   .about-me p {
      position: absolute;
      top: 70vh;
      width: 35%;
      margin: 0;

      z-index: 10;
   }
   .about-me-img {
      background-size: 100%;
      width: 60%;
      height: 40vh;
      margin: 0;
      margin-top: 10%;
      margin-left: 40%;

      z-index: 9;
   }
}
@media(min-width:87.5em) {
   .about-me-img {
      height: 100vh;
   }
} */
/*
---------------------------------------------------
ABOUT ME END
---------------------------------------------------
*/



/*
---------------------------------------------------
TOOL CIRCLES
---------------------------------------------------
*/
.icon-box {
   display: inline-block;
   width: 4rem;
   height: 4rem;
   line-height: 4rem; /*line height must be same as height*/

   font-size: 1rem;
   text-align: center;
   vertical-align: center;
   color: var(--primary-colour);
   background-color: rgba(0,0,0,0);
   border: solid 0.1rem var(--primary-colour);
}
/*
---------------------------------------------------
TOOL CIRCLES END
---------------------------------------------------
*/



/*
---------------------------------------------------
STYLE GUIDE SPECIFIC
---------------------------------------------------
*/
section code {
   display: block;
   padding: 2rem;
   padding-right: 0;
   color: var(--font-colour);
   background-color: var(--placeholder-grey);
   border-radius: 0.2rem;
}
.h2-styleguide, .h3-styleguide {
   background-color: var(--primary-colour-light);
   text-align: center;
   border-radius: 0.2rem;
}
/*
---------------------------------------------------
STYLE GUIDE SPECIFIC END
---------------------------------------------------
*/
